@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bgMove {
  0% {
    background-size: 180%;
    background-position: 65% 0%;
  }
  40% {
    background-size: 200%;
    background-position: 55% 0%;
  }
  100% {
    background-size: 180%;
    background-position: 65% 0%;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Muli", sans-serif;
  color: #3a3a3a;
  background-image: url(../images/owl.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: 65% 0%;
  background-color: rgba(255, 255, 255, 0.199);
  background-blend-mode: lighten;
}
@media (min-width: 768px) {
  body {
    background-color: #151515;
    background-image: none;
    transition: background-color 0.8s;
  }
}

a {
  text-decoration: none;
}

p {
  font-size: 0.85rem;
  line-height: 1.2;
  font-weight: 500;
}
@media (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3 {
  color: #dfbc77;
  letter-spacing: 1px;
  margin: 0;
}

h1, h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0 0 5px;
  border-bottom: 1px solid #e9d0a0;
  margin-bottom: 30px;
  max-width: 180px;
}

h4 {
  font-weight: 700;
}

img {
  width: 100%;
  display: block;
}

main {
  background-color: #fff;
  min-height: calc(100vh);
  grid-area: main;
}
@media (min-width: 768px) {
  main {
    padding: 0 2rem;
    background-color: transparent;
  }
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  grid-area: header;
}
header::after {
  content: "";
  display: block;
  width: 20%;
  margin: 0 auto 40px;
  border-bottom: 4px solid #e9d0a0;
}
@media (min-width: 768px) {
  header::after {
    display: none;
  }
}
header span {
  display: none;
}
header .container {
  display: none;
  padding: 1.2rem;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
}

.menu_mobile {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
@media (min-width: 768px) {
  .menu_mobile {
    display: none;
  }
}
.menu_mobile h2 {
  margin-top: -3px;
  pointer-events: none;
}

nav a, nav label {
  font-family: "Poppins", sans-serif;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 15px 0;
  cursor: pointer;
  letter-spacing: 1px;
  border-bottom: 1px solid #747474;
  transition: color 0.2s;
}
@media (min-width: 768px) {
  nav a, nav label {
    border: none;
    padding: 10px 0;
    color: #3a3a3a;
    font-weight: 600;
  }
}
nav a:hover, nav label:hover {
  color: #e0e0e0;
}
@media (min-width: 768px) {
  nav a:hover, nav label:hover {
    color: #dfbc77;
  }
}
nav a[class^=social] {
  border: none;
}
nav li {
  list-style-type: none;
  margin-bottom: 10px;
  min-width: max-content;
}

#nav_mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #454545;
  height: 100vh;
  width: 0;
  padding: 0;
  overflow: hidden;
  padding: 4rem 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.5s, padding 0.5s;
  grid-area: nav;
}
@media (min-width: 768px) {
  #nav_mobile {
    display: flex;
    width: 230px;
    padding: 6rem 2rem 2rem;
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  #nav_mobile {
    position: sticky;
    position: -webkit-sticky;
    /* Safari */
  }
}
#nav_home, #nav_portfolio, #nav_about, #nav_contact {
  display: none;
}
#nav_portfolio:checked ~ label[for$=portfolio] {
  border-bottom: transparent;
  margin-bottom: 0;
}
#nav_portfolio:checked ~ a[href="#contact"] {
  border-top: 1px solid #747474;
}
@media (min-width: 768px) {
  #nav_portfolio:checked ~ a[href="#contact"] {
    border: none;
  }
}
#nav_portfolio:checked ~ .portfolios {
  max-height: 100px;
  margin: 0 0 10px;
  padding: 10px 15px;
}
@media (min-width: 768px) {
  #nav_portfolio:checked ~ .portfolios {
    margin: 0;
    padding: 10px 15px 0;
  }
}
#nav_socials {
  margin-top: auto;
  padding-top: 15px;
  border-top: 1px solid #747474;
}
@media (min-width: 768px) {
  #nav_socials {
    border: none;
  }
}

.portfolios {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.portfolios_link {
  color: #929292;
  transition: color 0.2s;
  text-transform: uppercase;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.portfolios_link:hover {
  color: #dfbc77;
}

.overlay {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(69, 69, 69, 0.7);
  transition: all 0.3s;
}

.hidden {
  display: none;
  transition: all 0.3s;
}

#portfolio {
  text-align: center;
  padding: 3rem 1.5rem;
  grid-area: portfolio;
}
@media (min-width: 768px) {
  #portfolio {
    padding: 4rem 1.5rem;
  }
}
#portfolio h3 {
  color: #3a3a3a;
  border-color: #3a3a3a;
}
#portfolio_preview {
  padding: 2rem;
}
#portfolio_preview img {
  border: 1px solid #cecece;
  margin-bottom: 2rem;
  filter: grayscale(0.7);
  transition: filter 0.3s;
}
#portfolio_preview img:hover {
  filter: none;
}
#portfolio_preview h4, #portfolio_preview p {
  text-align: left;
}
#portfolio_preview h4 {
  margin-bottom: 1rem;
}
#portfolio_preview p {
  max-width: 500px;
  margin: 0 0 20px;
  line-height: 1.4;
}
#portfolio_preview a {
  color: #151515;
  border-bottom: 0.5px solid #151515;
  font-size: 0.85rem;
}
#portfolio_preview a:nth-child(2) {
  margin-right: 10px;
}
#portfolio_preview .container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card_fewd, .card_illus, .card_gd {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .card_fewd, .card_illus, .card_gd {
    opacity: 0;
    animation: slide-up 1s forwards;
  }
}
.card_fewd img, .card_illus img, .card_gd img {
  filter: grayscale(0.7);
  transition: filter 0.3s;
}
.card_fewd img:hover, .card_illus img:hover, .card_gd img:hover {
  filter: none;
}
.card_fewd p, .card_illus p, .card_gd p {
  display: none;
}
.card_fewd {
  position: relative;
}
@media (min-width: 768px) {
  .card_fewd::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.253);
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 50;
    transition: opacity 0.3s;
  }
  .card_fewd:hover::after {
    opacity: 1;
  }
  .card_fewd .card-caption {
    display: block;
    position: absolute;
    width: 100%;
    top: 80%;
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    z-index: 55;
    transition: visibility 0.2s;
    visibility: hidden;
    cursor: pointer;
  }
  .card_fewd:hover .card-caption {
    visibility: visible;
  }
  .card_fewd img {
    pointer-events: none;
  }
}
.card_fewd img {
  border: 1px solid #3a3a3a;
  cursor: pointer;
}
.card_illus {
  margin-bottom: 10px;
}

#buttonBack {
  color: #dfbc77;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: auto;
}

#about {
  padding: 3rem 0 0;
  text-align: center;
  background-color: #fff;
  background-size: 200%;
  background-position: 20% 40%;
  grid-area: about;
}
@media (min-width: 768px) {
  #about {
    padding: 8rem 1.5rem 0;
    background-color: transparent;
  }
}
#about h2 {
  padding-bottom: 5px;
  margin: 0 auto 1.5rem;
  border-radius: 2px;
  letter-spacing: 1.5px;
  width: max-content;
  border-bottom: 1px solid #dfbc77;
  font-weight: 700;
  text-transform: uppercase;
}
#about p {
  color: #151515;
  max-width: 380px;
  padding: 0 40px;
  margin: 0 auto 10px;
  text-align: left;
}
@media (min-width: 768px) {
  #about p {
    margin: 0 0 10px;
    padding: 0;
    max-width: max-content;
  }
}
#about p.last {
  padding-bottom: 3.5rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #about p.last {
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #dfbc77;
    margin-bottom: 3rem;
  }
}
#about strong {
  color: #dfbc77;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#about span {
  font-size: 0.6rem;
}

#profile-img {
  display: none;
  width: 100%;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  #profile-img {
    display: block;
    filter: grayscale(0.7);
    margin: 2rem auto;
    border: 1px solid #151515;
  }
}

#skills {
  background-color: #3a3a3a;
  background-image: url(../images/astronomy-dark.jpg);
  background-size: 180%;
  background-position: 10% 8%;
  padding: 3.5rem 0;
  margin-top: 0;
  animation: slide-up 0.5s forwards;
}
@media (min-width: 768px) {
  #skills {
    padding: 2.5rem 3.5rem;
    margin: 0 auto;
    background-position: 10% 5%;
    background-size: 130%;
  }
}
#skills p {
  color: #dfbc77;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #skills p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #skills h3 {
    display: none;
  }
}
#skills .container {
  padding: 2rem 0 0;
}
#skills .container_adobe {
  margin-bottom: 5px;
}

#contact {
  background-color: #151515;
  position: relative;
  max-height: 300px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #contact {
    padding: 1.5rem;
    background-color: transparent;
  }
}
#contact img {
  width: 130%;
  animation: spin 120s linear infinite;
}
@media (min-width: 768px) {
  #contact img {
    display: none;
  }
}
#contact h3 {
  margin: 0 auto 30px;
}
@media (min-width: 768px) {
  #contact h3 {
    display: block;
    width: max-content;
    border-width: 2px;
    font-weight: 800;
    color: #151515;
    border-color: #151515;
  }
}
#contact p {
  color: #dfbc77;
  line-height: 1.5;
  width: max-content;
  margin: 0 auto 10px;
}
@media (min-width: 768px) {
  #contact p {
    display: inline;
    font-weight: 600;
    color: #151515;
  }
}
#contact a {
  color: #dfbc77;
  text-decoration: underline;
  transition: color 0.2s;
}
@media (min-width: 768px) {
  #contact a {
    color: #151515;
  }
  #contact a:hover {
    color: #dfbc77;
  }
}
@media (min-width: 768px) {
  #contact br {
    display: none;
  }
}
#contact a[href^=mail] {
  color: #151515;
  background-color: #dfbc77;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  display: block;
  width: min-content;
  margin: 10px auto 20px;
}
@media (min-width: 768px) {
  #contact a[href^=mail] {
    color: #151515;
    background-color: transparent;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 800;
    margin: -3px auto 30px;
    padding: 0;
  }
  #contact a[href^=mail]:hover {
    color: #dfbc77;
  }
}
#contact .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3.5rem 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  #contact .container {
    position: initial;
    padding: 0;
  }
}

footer {
  text-align: center;
  padding: 50px 0 40px;
  font-family: "Muli", sans-serif;
  background-color: #fff;
  grid-area: footer;
}
@media (min-width: 768px) {
  footer {
    background-color: transparent;
  }
}
footer p {
  margin: 5px 0 0;
  font-size: 0.65rem;
  text-transform: uppercase;
  color: #929292;
}

.icon {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.icon_social {
  width: 25px;
  height: 25px;
  fill: #e4e4e4;
  transition: fill 0.2s;
  margin: 0 3px;
  border: none;
}
@media (min-width: 768px) {
  .icon_social {
    fill: #3a3a3a;
  }
}
.icon_social:hover {
  fill: #dfbc77;
}
.icon_social.email {
  width: 18px;
  height: 18px;
  transform: translateY(-4px);
  margin-right: 9px;
}
.icon_menu {
  fill: #dfbc77;
  width: 22px;
  height: 22px;
}
.icon_close {
  color: #fff;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 1.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .icon_close {
    display: none;
  }
}
.icon_skills.adobe {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
@media (min-width: 768px) {
  .icon_skills.adobe {
    width: 45px;
    height: 45px;
    margin: 0 6px;
  }
}
.icon_skills.web {
  width: 50px;
  height: 50px;
  margin: 0 2px;
}
@media (min-width: 768px) {
  .icon_skills.web {
    width: 60px;
    height: 60px;
    margin: 0 2px;
  }
}
.icon_skills.web.html, .icon_skills.web.css {
  margin: 0 -5px;
  width: 55px;
  height: 55px;
}
@media (min-width: 768px) {
  .icon_skills.web.html, .icon_skills.web.css {
    width: 70px;
    height: 70px;
    margin: 0 -8px;
    transform: translateY(5px);
  }
}
.icon_contact {
  width: 30px;
  height: 30px;
  fill: #dfbc77;
  margin: 0 3px;
}
.icon_sun {
  display: none;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  fill: #151515;
  width: 50px;
  height: 50px;
  animation: spin 10s linear infinite;
}

@media (min-width: 768px) {
  .grid_main {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-areas: "nav loading" "nav header" "nav main" "nav footer";
  }
}
@media (min-width: 1024px) {
  .grid_main {
    max-width: 900px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
