//fonts
$sans: 'Muli', sans-serif;
$sans-secondary: 'Poppins', sans-serif;

//text colours
$heading: #fff;
$text: #747474;
$text-light: #cecece;
$text-faded: #929292;
$text-hover: #e0e0e0;
$text-overlay: #404040;

//nav colours
$nav: #454545;
$nav-active: #fff;
$nav-default: #e4e4e4;

//background colours
$overlay: #454545;
$main : #fff;
$card: #fff;
$link-hover: #ff84a9;

//border colours 
$shadow: #e4e4e4;

//main colours
$primary: #dfbc77;
$secondary: #3a3a3a;
$tertiary: #faf7eb;
$dark: #151515;

