.icon {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    &_social {
        width: 28px;
        height: 28px;
        fill: $nav-default;
        transition: fill .2s;
        margin: 0 5px;
        border: none;
        @include mq(768px) {
            fill: $secondary;
            width: 25px;
            height: 25px;
        }
        &:hover {
            fill: $primary;
        }
        &.email {
            width: 21px;
            height: 21px;
            transform: translateY(-4px);
            margin-right: 9px;
            @include mq(768px) {
                width: 19px;
                height: 19px;
            }
        }
    }
    &_menu {
        fill: $primary;
        width: 22px;
        height: 22px;
    }
    &_close {
        color: $nav-active;
        width: 15px;
        height: 15px;
        align-self: flex-end;
        cursor: pointer;
        @include mq(768px) {
            display: none;
        }
    }
    &_skills {
        &.adobe {
            width: 35px;
            height: 35px;
            margin: 0 5px;
            @include mq(768px) {
                width: 45px;
                height: 45px;
                margin: 0 6px;
            }
        }
        &.web {
            width: 50px;
            height: 50px;
            margin: 0 2px;
            @include mq(768px) {
                width: 60px;
                height: 60px;
                margin: 0 2px;
            }
            &.html, &.css {
                margin: 0 -5px;
                width: 55px;
                height: 55px;
                @include mq(768px) {
                    width: 70px;
                    height: 70px;
                    margin: 0 -8px;
                    transform: translateY(5px);
                }
            }
        }
    }
    &_contact {
        width: 30px;
        height: 30px;
        fill: $primary;
        margin: 0 3px;
    }
    &_sun {
        display: none;
        position: fixed;
        top: 1.5rem;
        left: 1.5rem;
        fill: $dark;
        width: 50px;
        height: 50px;
        animation: spin 10s linear infinite;
    }
}