@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bgMove {
    0% {
        background-size: 180%;
        background-position: 65% 0%;
    }
    40% {
        background-size: 200%;
        background-position: 55% 0%;
    }
    100% {
        background-size: 180%;
        background-position: 65% 0%;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}