.menu {
    &_mobile {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        padding: 1rem 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $main;
        @include mq(768px) {
            display: none;
        }
        h2 {
            pointer-events: none;
        }
    }
}

nav {
    a,label {
        font-family: $sans-secondary;
        color: $nav-default;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
        padding: 18px 0;
        cursor: pointer;
        letter-spacing: 1px;
        border-bottom: 1px solid $text;
        transition: color .2s;
        @include mq(768px) {
            border: none;
            padding: 10px 0;
            color: $secondary;
            font-weight: 600;
        }
            &:hover {
                color: $text-hover;
                @include mq(768px) {
                    color: $primary;
                }
            }
        }
        a[class^="social"] {
            border: none;
        }
        a[href="#home"] {
            margin-top: 2rem;
        }
    li {
        list-style-type: none;
        margin-bottom: 10px;
        min-width: max-content;
        padding: 2px 0;
    }
}

#nav {
    &_mobile { //MOBILE NAV
        display: flex; //to view - set flex
        flex-direction: column;
        justify-content: space-between;
        background-color: $nav;
        height: 100vh;
        // width: 80vw;
        width: 0;
        overflow: hidden;
        padding: 4.5rem 0 1rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: width .5s, padding .5s;
        @include grid(nav);
        @include mq(768px) {
            left: 0;
            display: flex;
            width: 230px;
            padding: 6rem 2rem 2rem;
            background-color: transparent;
        }
        @include mq(1024px) {
            position: sticky;
            position: -webkit-sticky; /* Safari */
        }
    }
    &_home, &_portfolio, &_about, &_contact { //checkbox input
        display: none;
    }
    &_portfolio {
        &:checked {
            &~ label {
                &[for$="portfolio"] {
                    border-bottom: transparent;
                    margin-bottom: 0;
                }
            }
            &~ a {
                &[href="#contact"] {
                    border-top: 1px solid $text;
                    @include mq(768px) {
                        border: none;
                    }
                }
            }
            &~ .portfolios{
                max-height: 200px;
                margin: 0 0 10px;
                padding: 10px 20px;
                @include mq(768px) {
                    margin: 0;
                    padding: 10px 15px 0;
                }
            }   
        }
    }
    &_socials {
        text-align: right;
        margin-top: auto;
        padding-top: 15px;
        border-top: 1px solid $text;
        @include mq(768px) {
            border: none;
        }
    }
}

.portfolios {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    margin: 0;
    font-size: .8rem;
    letter-spacing: .5px;
    transition: all .3s;
    @include mq(768px) {
        padding: 0 15px;
    }
    &_link {
        margin: 0;
        padding: 15px 0;
        color: $text-faded;
        transition: color .2s;
        text-transform: uppercase;
        border: none;
        font-family: $sans-secondary;
        font-weight: 500;
        &:hover {
            color: $primary;
        }
    }
}

.overlay {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba($overlay, .7);
    transition: all .3s;
}

.hidden {
    display: none;
    transition: all .3s;
}